@charset "UTF-8";

:root {
    --main-theme: #0f0f0f;
    --main-font-color: rgb(241, 241, 241);
    --buttons-color: #272727;
    --sub-font-color: #9d9d9d;

    --input-box-color: #121212;
    --input-button-color: #222222;
    --input-font-color: #929292;

    --header-height: 100px;
    --sidebar-width: 300px;
    --filter-height: 50px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", "arial";
}

.header-top {
     
}

.nav-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.nav-top-left-corner-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-top-middle-elements {
    display: flex;
    align-items: center;

    .search-input {
        display: flex;
        align-items: center;
    }
}

.nav-top-right-corner-elements {
    display: flex;
    align-items: center;

    .top-right-create-button {
        display: flex;
        align-items: center;
    }

    .profile-picture {
        width: 30px;
        border-radius: 8vh;
    }
}