@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* Font-Family */
  --main-font-Inter: "Inter", sans-serif;
  --text-font-roboto: "Roboto", sans-serif;
  --text-weight: 320;
  /* Font-size */
  --font-size-18: 16px;
  --font-size-20: 18px;
  --font-size-22: 20px;
  --font-size-24: 22px;
  --font-size-26: 24px;
  --font-size-28: 26px;
  --font-size-30: 28px;
  --font-size-48: 42px;
  /* Color Palette */
  --main-background-color: #ffffff;
  --dark-light-color: black;
  --blackWhite-Scale-90: hsla(0, 0%, 0%, 0.9);
  --blackWhite-Scale-80: hsla(0, 0%, 0%, 0.8);
  --blackWhite-Scale-70: hsla(0, 0%, 0%, 0.7);
  --blackWhite-Scale-60: hsla(0, 0%, 0%, 0.6);
  --blackWhite-Scale-20: hsla(0, 0%, 0%, 0.2);
  --blackWhite-Scale-10: hsla(0, 0%, 0%, 0.1);
  --top-color: #1F1F1F;
  --border-color: hsla(0, 0%, 50%, 1);
  --underline-gradient: linear-gradient(black, black);
  --warning-color-1: #FF4040;
  --warning-color-2: #FF6666;
  --warning-color-3: #FFC5C5;
  /* Margin, Paddings & Width/Height*/
  --nav-height: 55px;
  --nav-padding: 0px 50px;
  --aside-widthMargin: 300px;
  --asideHidden-widthMargin: 50px;
  --aside-content-paddingMargin: calc(var(--aside-widthMargin) - 220px);
  --aside-topo-paddingHeight: 16px;
  --header-content-width: 1000px;
  --header-image-width: 1050px;
  --header-warning-width: 900px;
  --article-imgVideo-marginTop: 40px;
  --text-article-width: 700px;
  --aside-text-width: 260px;
  /* Absolute Positions*/
  --wanirng-extra-TitleSvg-top: -25px;
}

.dark-mode:root {
  /* Color Palette */
  --main-background-color: hsl(0, 0%, 13%);
  --dark-light-color: white;
  --blackWhite-Scale-90: hsla(0, 0%, 100%, 0.9);
  --blackWhite-Scale-80: hsla(0, 0%, 100%, 0.8);
  --blackWhite-Scale-70: hsla(0, 0%, 100%, 0.7);
  --blackWhite-Scale-60: hsla(0, 0%, 100%, 0.6);
  --blackWhite-Scale-20: hsla(0, 0%, 100%, 0.2);
  --blackWhite-Scale-10: hsla(0, 0%, 100%, 0.1);
  --top-color: #1F1F1F;
  --border-color: hsla(0, 0%, 50%, 1);
  --underline-gradient: linear-gradient(white, white);
  --warning-color-1: #FF4040;
  --warning-color-2: #FF6666;
  --warning-color-3: #FFC5C5;
}

.aside-reduce:root {
  --aside-widthMargin: 0px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  scroll-margin-top: calc(var(--nav-height) + 40px);
}

body {
  background-color: var(--main-background-color);
}

header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid;
  border-color: var(--border-color);
  max-width: 100%;
  height: var(--nav-height);
  position: sticky;
  top: 0px;
  z-index: 998;
  left: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: var(--nav-padding);
}
header .profile-img {
  background-image: url("/img/profile1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: grey;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}
header .switch-darkLight {
  cursor: pointer;
  transition: 100ms;
}
header .switch-darkLight .toDark, header .switch-darkLight .toLight {
  display: none;
  width: 48px;
}
header .switch-darkLight #toggle {
  display: block;
}

.open-aside-wrapper {
  display: none;
  position: sticky;
  top: var(--nav-height);
  z-index: 997;
  width: var(--asideHidden-widthMargin);
  height: 100vh;
  border-right: solid 1px;
  border-color: var(--border-color);
  transition: 300ms;
}
.open-aside-wrapper svg {
  position: relative;
  top: 18px;
  left: calc(var(--asideHidden-widthMargin) - 20px);
  cursor: pointer;
}
.open-aside-wrapper svg .background-svg {
  fill: var(--main-background-color);
}
.open-aside-wrapper svg path {
  fill: var(--dark-light-color);
}
.open-aside-wrapper svg .stroke {
  stroke: var(--dark-light-color);
}
.open-aside-wrapper svg:hover .background-svg {
  fill: var(--dark-light-color);
}
.open-aside-wrapper svg:hover .stroke {
  stroke: var(--main-background-color);
}
.open-aside-wrapper svg:hover path {
  fill: var(--main-background-color);
}

.secSelectWrapper::-webkit-scrollbar {
  width: 10px;
  height: 3px; /* A altura só é vista quando a rolagem é horizontal */
  margin-top: 20px;
  background-color: var(--blackWhite-Scale-10);
  color: var(--article-imgVideo-marginTop);
}

.secSelectWrapper::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

.secSelectWrapper::-webkit-scrollbar-thumb {
  background-color: #000;
}

.hiddenAside {
  display: none;
}

.asideMainWrapper {
  display: flex;
  flex-direction: row;
}

aside {
  display: block;
  transform: translateX(0%);
  position: sticky;
  top: var(--nav-height);
  z-index: 997;
  background-color: var(--main-background-color);
  width: var(--aside-widthMargin);
  min-width: 300px;
  height: 100vh;
  border-right: 1px solid;
  border-color: var(--border-color);
  font-family: var(--main-font-Inter);
}
aside .navTopo-wrapper {
  display: flex;
  align-items: center;
  max-width: 100vw;
  padding-top: var(--aside-topo-paddingHeight);
  padding-bottom: var(--aside-topo-paddingHeight);
  padding-left: var(--aside-content-paddingMargin);
  border-bottom: 1px solid;
  border-color: var(--border-color);
  background-color: var(--main-background-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  left: 0 !important;
}
aside .navTopo-wrapper h1 {
  display: flex;
  justify-content: center;
  color: var(--top-color);
  font-size: var(--font-size-28);
  font-weight: normal;
  color: var(--dark-light-color);
  border: 1px solid;
  border-color: var(--dark-light-color);
  margin: 0px;
  padding: 4px 5px;
  transition: 100ms;
}
aside .navTopo-wrapper .active {
  font-size: var(--font-size-30);
  color: var(--main-background-color);
  background-color: var(--dark-light-color);
  border-color: var(--dark-light-color);
}
aside .navTopo-wrapper .hide-aside-wrapper {
  cursor: pointer;
  display: flex;
  position: absolute;
  left: calc(var(--aside-widthMargin) - 20px);
}
aside .navTopo-wrapper .hide-aside-wrapper .background-svg {
  fill: var(--main-background-color);
}
aside .navTopo-wrapper .hide-aside-wrapper path {
  fill: var(--dark-light-color);
}
aside .navTopo-wrapper .hide-aside-wrapper .stroke {
  stroke: var(--dark-light-color);
}
aside .navTopo-wrapper .hide-aside-wrapper:hover .background-svg {
  fill: var(--dark-light-color);
}
aside .navTopo-wrapper .hide-aside-wrapper:hover .stroke {
  stroke: var(--main-background-color);
}
aside .navTopo-wrapper .hide-aside-wrapper:hover path {
  fill: var(--main-background-color);
}
aside ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
aside .secSelectWrapper {
  overflow-y: auto;
  height: 87vh;
  padding-bottom: 50px;
}
aside .up-select {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-20);
  font-weight: bold;
  color: var(--dark-light-color);
  margin-top: 10px;
  padding: 8px 10px;
  transition: 100ms;
}
aside .up-select:hover {
  background-color: var(--blackWhite-Scale-10);
  padding: 8px 10px;
}
aside ul > .active {
  background-color: var(--dark-light-color) !important;
  font-size: var(--font-size-22);
  color: var(--main-background-color);
  padding: 8px 10px;
}
aside .sub-select {
  font-size: var(--font-size-18);
  color: var(--dark-light-color);
  margin-left: calc(var(--aside-content-paddingMargin) + 50px);
  margin-top: 5px;
  padding: 5px 0px;
  cursor: default;
}
aside .underline {
  background-image: var(--underline-gradient);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}
aside .underline:hover {
  background-size: 100% 2px;
}
aside .subActive {
  text-decoration: underline;
  -webkit-text-decoration-skip: 1px;
          text-decoration-skip: 1px;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
aside h1, aside .up-select {
  margin-left: var(--aside-content-paddingMargin);
}

main {
  position: relative;
  width: 100%;
  min-width: 400px;
  padding: 0px 25px;
  margin: 0 auto;
}
main article {
  max-width: var(--header-image-width);
  display: block;
  margin: 0 auto;
  text-align: left;
}
main article .hr-article {
  margin: 50px auto;
  width: 70%;
}
main article span div {
  position: fixed;
  margin-left: var(--aside-widthMargin);
  cursor: pointer;
  margin-top: var(--nav-height);
  left: 20px;
  top: 84%;
}
main article span div path {
  fill: white;
}
main article .header-article {
  font-family: var(--main-font-Inter);
  max-width: 100%;
  width: var(--header-content-width);
  background-color: var(--main-background-color);
  margin: 40px auto;
  padding-bottom: 30px;
  position: relative;
  scroll-margin-top: calc(var(--nav-height) + 40px);
}
main article .header-article .top-left-border svg, main article .header-article .bottom-right-border svg {
  width: 80;
}
main article .header-article .top-left-border {
  position: absolute;
  top: 0;
  left: 0;
}
main article .header-article .top-left-border svg > line {
  stroke: var(--dark-light-color);
}
main article .header-article .bottom-right-border {
  position: absolute;
  right: 0;
  bottom: -4px;
}
main article .header-article .bottom-right-border svg > line {
  stroke: var(--dark-light-color);
}
main article .header-article .article-header-text-content {
  margin: 40px 50px 60px;
}
main article .header-article .article-header-text-content h1 {
  font-size: var(--font-size-48);
  color: var(--dark-light-color);
  margin-bottom: 10px;
}
main article .header-article .article-header-text-content p {
  font-size: var(--font-size-24);
  color: var(--blackWhite-Scale-70);
}
main article .header-article .data-time-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 1px;
}
main article .header-article .data-time-wrapper .data, main article .header-article .data-time-wrapper .read-time {
  padding: 5px 10px;
  font-size: var(--font-size-18);
  background-color: var(--dark-light-color);
  color: var(--main-background-color);
}
main article .header-article .profile-img-article-wrapper {
  display: flex;
  align-items: center;
  margin-left: 50px;
  gap: 10px;
  font-size: var(--font-size-18);
  color: var(--blackWhite-Scale-80);
}
main article .header-article .profile-img-article-wrapper .profile-img-article {
  background-image: url("/img/profile1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: grey;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
main article .header-img-article {
  max-width: 1170px;
  height: 390px;
  background-color: grey;
  background-image: url("/img/topImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -70px;
}
main article .warning-wrapper {
  position: relative;
  max-width: var(--header-warning-width);
  font-family: var(--text-font-roboto);
  font-size: var(--font-size-18);
  margin: 100px auto;
  border: 1px solid;
  border-color: var(--warning-color-2);
}
main article .warning-wrapper .warnings {
  margin: 40px auto 19px;
  max-width: 880px;
}
main article .warning-wrapper .warnings .warning-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
}
main article .warning-wrapper .warnings .warning-title p {
  color: var(--main-background-color);
  font-size: var(--font-size-26);
  font-weight: 300;
  background-color: var(--warning-color-2);
  border: 1px solid;
  border-color: var(--warning-color-1);
  padding: 8px 20px;
}
main article .warning-wrapper .warnings .warning-title svg {
  height: 50px;
  position: absolute;
  right: -25px;
}
main article .warning-wrapper .warnings .warning-title svg path {
  fill: var(--main-background-color);
}
main article .warning-wrapper .warnings .warning-texts {
  display: flex;
  font-style: italic;
  line-height: 170%;
  padding-bottom: 0px;
}
main article .warning-wrapper .warnings .warning-texts ul {
  width: 425px;
}
main article .warning-wrapper .warnings .warning-texts ul li {
  font-size: var(--font-size-20);
  margin-bottom: 10px;
  padding: 0px 0px 0px 20px;
  color: var(--blackWhite-Scale-60);
  cursor: default;
}
main article .warning-wrapper .warnings .warning-texts hr {
  width: 2px;
  height: 140px;
  margin: auto;
}
main article .warning-wrapper .warnings .warning-texts div > p {
  display: none;
  max-width: 425px;
  height: 194px;
  font-size: var(--font-size-20);
  padding-left: 10px;
}
main article .warning-wrapper .warnings .warning-texts .q1 {
  color: var(--dark-light-color);
  text-decoration: underline;
}
main article .warning-wrapper .warnings .warning-texts #doubt-desc-active > p {
  display: block;
  display: -webkit-box;
  color: var(--dark-light-color);
  overflow: hidden;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
main article .warning-wrapper .warnings .open-info-svg {
  position: absolute;
  right: 50%;
  transform: translate(19px, 0px);
  cursor: pointer;
}
main article .warning-wrapper .warnings .open-info-svg line {
  stroke: var(--main-background-color);
}
main article .article-text {
  max-width: var(--text-article-width);
  margin: 0 auto;
  font-family: var(--text-font-roboto);
}
main article .article-text .img-desc {
  font-size: var(--font-size-18);
  text-align: center;
  color: var(--blackWhite-Scale-60);
  margin: 0px;
}
main article .article-text .section {
  margin: 100px 0px;
}
main article .article-text p {
  font-size: var(--font-size-22);
  font-weight: 400;
  line-height: 190%;
  letter-spacing: 0px;
  text-indent: 6px;
  margin: 30px 0px;
  color: var(--blackWhite-Scale-80);
}
main article .article-text h2 {
  font-size: 36px;
  color: var(--dark-light-color);
  text-align: center;
  font-weight: 500;
  margin: 100px 0px 50px;
}
main article .article-text h3 {
  font-size: 32px;
  font-weight: 400;
  color: var(--dark-light-color);
  margin-bottom: 30px;
  text-indent: 0px;
}
main article .article-text .iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-top: var(--article-imgVideo-marginTop);
}
main article .article-text .iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main article .article-text img {
  max-width: 100%;
  width: var(--text-article-width);
  margin-top: var(--article-imgVideo-marginTop);
  margin-left: auto;
  margin-right: auto;
}

.extra-questions-closed {
  display: none;
}

#extra-questions-opened {
  display: block;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: hsla(0deg, 0%, 0%, 0.139);
  width: 100%;
  height: 100vh;
}
#extra-questions-opened .warnings-extra {
  background-color: var(--main-background-color);
  border: 1px solid;
  border-color: var(--warning-color-1);
  position: relative;
  width: 60%;
  height: 90vh;
  margin: 80px auto;
  z-index: 999;
}
#extra-questions-opened .warnings-extra .warning-title p {
  font-family: var(--main-font-Inter);
  font-size: var(--font-size-26);
  font-weight: 300;
  color: var(--main-background-color);
  background-color: var(--warning-color-2);
  border: 1px solid;
  border-color: var(--warning-color-1);
  padding: 8px 20px;
  position: absolute;
  left: 50%;
  top: var(--wanirng-extra-TitleSvg-top);
  transform: translateX(-50%);
}
#extra-questions-opened .warnings-extra .warning-title .warning-title-svg {
  position: absolute;
  right: -25px;
  right: var(--wanirng-extra-TitleSvg-top);
  top: var(--wanirng-extra-TitleSvg-top);
  display: flex;
  flex-direction: column;
}
#extra-questions-opened .warnings-extra .warning-title .warning-title-svg svg {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
#extra-questions-opened .warnings-extra .warning-title .warning-title-svg svg line {
  stroke: var(--main-background-color);
}
#extra-questions-opened .warnings-extra .warning-title .warning-title-svg svg path {
  fill: var(--main-background-color);
}
#extra-questions-opened .warnings-extra .warning-title .warning-title-svg .close-extra-info {
  cursor: pointer;
}
#extra-questions-opened .warnings-extra .warning-questions {
  overflow-y: auto;
  height: 100%;
  padding: 50px;
  margin-right: 30px;
}
#extra-questions-opened .warnings-extra .warning-questions hr {
  margin-bottom: -1px;
}
#extra-questions-opened .warnings-extra .warning-questions p {
  display: none;
}
#extra-questions-opened .warnings-extra .warning-questions .doubt-wrapper input {
  display: none;
}
#extra-questions-opened .warnings-extra .warning-questions .doubt-wrapper input:checked ~ label > .expand-svg {
  display: none;
}
#extra-questions-opened .warnings-extra .warning-questions .doubt-wrapper input:checked ~ label > .reduce-svg {
  display: block;
}
#extra-questions-opened .warnings-extra .warning-questions .doubt-wrapper input:checked ~ p {
  display: block;
}
#extra-questions-opened .warnings-extra .warning-questions .doubt-wrapper .doubt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0px;
  padding-right: 10px;
  background-color: var(--main-background-color);
  cursor: pointer;
}
#extra-questions-opened .warnings-extra .warning-questions .doubt-wrapper .doubt:hover {
  background-color: var(--blackWhite-Scale-10);
}
#extra-questions-opened .warnings-extra .warning-questions .doubt-wrapper .doubt li {
  font-family: var(--text-font-roboto);
  font-size: var(--font-size-24);
  font-weight: 400;
  font-style: italic;
  color: var(--blackWhite-Scale-90);
}
#extra-questions-opened .warnings-extra .warning-questions .doubt-wrapper .doubt .expand-svg {
  display: block;
}
#extra-questions-opened .warnings-extra .warning-questions .doubt-wrapper .doubt .expand-svg path {
  fill: var(--dark-light-color);
}
#extra-questions-opened .warnings-extra .warning-questions .doubt-wrapper .doubt .reduce-svg {
  display: none;
}
#extra-questions-opened .warnings-extra .warning-questions .doubt-wrapper .doubt .reduce-svg path {
  fill: var(--dark-light-color);
}
#extra-questions-opened .warnings-extra .warning-questions .doubt-wrapper p {
  color: var(--blackWhite-Scale-80);
  font-size: var(--font-size-22);
  font-family: var(--text-font-roboto);
  font-style: italic;
  line-height: 35px;
  padding: 10px 0px;
  display: none;
}

/*1350px*//*# sourceMappingURL=main.css.map */