@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /*Color Stuff*/
  --main-grey: hsl(0, 0%, 21%);
  --input-grey: hsl(0, 0%, 44%);
  --form-grey-font: hsl(0, 0%, 89%);
  --arrow-down-svg-color: hsl(0, 0%, 94%);
  --white-font-color: hsl(0, 0%, 91%);
  --button-registerLog-color: hsl(310, 26%, 73%);
  --extra-info: hsl(0, 0%, 69%);
  --extra-info-important: hsl(234, 100%, 70%);
  /*Font-family*/
  --font-data-RegLog-extra: "Inter", sans-serif;
  --font-formTitle-inputText: "IBM Plex Mono", monospace;
  /*Border*/
  --border-radius: 2px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

main {
  position: relative;
  display: grid;
  background: url("/img/background.gif") 150px bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1.4fr;
}

form {
  position: relative;
  background-color: var(--main-grey);
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field-set-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}
.field-set-wrapper h1 {
  font-family: var(--font-formTitle-inputText);
  color: var(--white-font-color);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 40px 0px;
}
.field-set-wrapper .input-wrapper-box {
  width: 100%;
}
.field-set-wrapper .input-wrapper-box p {
  font-family: var(--font-formTitle-inputText);
  text-transform: uppercase;
  color: var(--white-font-color);
  padding: 20px 0px 5px 0px;
}
.field-set-wrapper .input-wrapper-box input {
  width: 100%;
  height: 40px;
  background-color: var(--input-grey);
  border-style: none;
  border-radius: var(--border-radius);
}
.field-set-wrapper .data {
  width: 100%;
}
.field-set-wrapper .data p {
  font-family: var(--font-formTitle-inputText);
  text-transform: uppercase;
  color: var(--white-font-color);
  padding: 20px 0px 5px 0px;
}
.field-set-wrapper .data .select-wrapper:nth-child(3) {
  margin: 0px 40px;
  background-color: #6473FF;
}
.field-set-wrapper .data .select-wrapper {
  max-width: 500px;
  display: inline-block;
}
.field-set-wrapper .data .select-wrapper select {
  font-size: 20px;
  padding: 0px 10px;
  border-radius: var(--border-radius);
  color: var(--form-grey-font);
  background-color: var(--input-grey);
  font-family: var(--font-data-RegLog-extra);
  max-width: 100%;
  width: 137px;
  height: 40px;
  display: flex;
  flex-wrap: nowrap;
}
.field-set-wrapper .reg {
  width: 100%;
}
.field-set-wrapper .reg p {
  color: white;
  font-family: var(--font-data-RegLog-extra);
  font-size: 22px;
  background-color: var(--button-registerLog-color);
  text-align: center;
  width: 100%;
  padding: 10px;
  margin: 40px 0px 20px 0px;
  border-radius: var(--border-radius);
}
.field-set-wrapper .log {
  color: var(--button-registerLog-color);
  font-family: var(--font-data-RegLog-extra);
  font-size: 22px;
}
.field-set-wrapper .add-info {
  margin: 80px 0px;
  color: #B1B1B1;
  font-family: var(--font-data-RegLog-extra);
  font-size: 14px;
}
.field-set-wrapper .add-info span {
  color: #6473FF;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */