@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100;200;300;400;500;600;700&display=swap');

:root {
    /* Fontes/Fonts */
    --fonte-padrao: 'Big Shoulders Text', cursive;

    /* Cores/Colors */
    --cor000: black;
    --cor001: white;
    --corLogo: #EEC643;
    --corAtencao: #D00000;
    --corNoticias: #F2D882;

    /* paddings do corpo*/
    --nav-padding: 10px 230px;
    --section-padding: 100px 250px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: var(--fonte-padrao);
}

.logo {
    font-size: 30px;
    color: var(--cor000);
}

.logo-span {
    background-color: var(--corLogo);
    padding: 2px 5px;
}

.header {
    font-size: 26px;
}

.nav-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--nav-padding);
    
}

.nav-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
}

.nav-list li {
    padding: 0px 14px;
}

.nav-list a {
    color: var(--cor000);
}

.nav-list > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 0px;
    padding-left: 30px;
}

.conta {
    padding: 0px 5px;
}

.cadastrar {
    color: white !important;
    background-color: #D00000;
    padding: 4px 5px;
}

.dark-mode > svg {
    display: flex;
    width: 34px;
}

section {
    padding: var(--section-padding);
}

section img {
    max-width: 100%;
    height: auto;
}

.titulo-section-1 {
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 45px;
}

.titulo-section-span {
    background-color: var(--corNoticias);
    padding: 1px 8px;
}

.noticias-diarias-wrapper {
    display: grid;
    grid-template-columns: 2.13fr 1fr;
    gap: 40px;
    row-gap: 18px;
    margin: 0 auto;
    max-width: 100%;
}

.noticia-diaria  {
    display: grid;
}


.noticia-diaria img {
    
    height: 100%;
    grid-column: 1;
    grid-row: 1/3;
    align-self: end;
}

.noticia-diaria p {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 10.73%, rgba(0, 0, 0, 0.61) 100%);
    padding: 10px;
    color: white;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
    padding-left: 14px;
}

.noticia-diaria:nth-child(1) {
    grid-row: 1 / 3;
    background-color: aqua;
    font-size: 64px;
}

.noticia-diaria:nth-child(2) {
    font-size: 32px;
    background-color: #D00000;
}

.noticia-diaria:nth-child(3) {
    font-size: 32px;
    background-color: #EEC643;
}

.noticias-semanais h2 {
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 50px;
}

.noticias-semanais-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.noticia-semanal img {
    max-width: max-content !important;
    max-height: 100vh;
}

.noticia-semanal {
    display: grid;
}

.desc-noticia {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    padding: 0px 20px;
    max-width: 330px;
    height: 219px;


}

.desc-noticia p {
    display: grid;
    margin-top: 0px;
}

.noticia-tipo {
    color: white;
    width: 100px;
    height: 30px !important;
    font-size: 20px;
    padding: 0px 10px;
    padding-top: 4px;
    background-color: #D00000;
}

.noticia-semanal-titulo {
    font-size: 22px;
    
}

.noticia-semanal-sobre {
    font-size: 16px;
    color: #4F4F4F;
    
}

.notica-semanal-dataHora {
    align-self: flex-end;
    color: rgba(0, 0, 0, 0.69);
}

.criador {
    font-size: 20px;
    color: grey;
    text-align: center;
    padding: 20px;
}


