@charset 'UTF-8';

@font-face {
    font-family: 'FE 5 Cent1';
    src: local('FE 5 Cent Regular'), local('FE-5-Cent-Regular'),
        url('FE5Cent-Regular.woff2') format('woff2'),
        url('FE5Cent-Regular.woff') format('woff'),
        url('/font/FE5Cent-Regular\(similartomyfont\).ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

:root {
    /*Paletas de Cores*/
    --black-font-color: hsl(0, 0%, 0%);
    --white-font-color: hsl(0, 0%, 100%);
    --selecd-nav-section: hsl(12, 100%, 45%);
    --top-header: hwb(240 12% 56%);
    --main-headder: hsl(0, 0%, 75%);
    --warning-color: hsl(7, 93%, 47%);
    --tape-color: hsl(52, 87%, 50%);
    --selected-textbox-color: hsl(62, 87%, 49%);
    --content-box-color: hsl(297, 47%, 7%); /*Opacity 65%*/
    --stroke-box-color: hsl(339, 10%, 28%); 
    
    /*Fontes*/
    --main-font: 'FE 5 Cent1', sans-serif;

    /*paddings*/

    --top-header-padding: 5.3%;
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    
  }

*, *:before, *:after {
    box-sizing: inherit;
    
  }

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    
}



body {
    max-width: 100%;
    font-family: var(--main-font);
    
}

.background {
    background-image: url('/img/raw-background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 1141px;

    filter: blur(0.5px);
    z-index: -1;
    filter: brightness(80%);
}

.top-header-wrapper {
    background-color: var(--top-header);
    
    div {
        display: flex;
    }


    .top-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        
        .SMT-header-logo-wrapper {
                padding-left: var(--top-header-padding);
                min-width: 72px;

                span {
                    width: 38.406px;
                }
            }

        .help-header-wrapper {
            display: flex;
            align-items: center;
            padding-right: var(--top-header-padding);
            
            .help-header-link, .help-header-icon > path {
                color: var(--white-font-color);
                fill: var(--white-font-color);
                
            }
        }
    }
}

.nav-wrapper {
    display: flex;
    align-items: center;
    align-content: flex-end;
    background-color: var(--main-headder);
    height: 64px;
    overflow: hidden;

    .nav-section-seleced {
        color: var(--selecd-nav-section);
        text-decoration: underline;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 1240px;
        align-items: center;
        align-content: center;


        .nav-buy-newsletter-wrapper {
        
            
        .nav-buy-wrapper { 
            background-color: var(--warning-color);
            height: 50px;
            
        .nav-buy {
            color: var(--white-font-color);
            min-width: 140px;
        }
}  
        .nav-buy:hover {
            color: var(--white-font-color);
        }

        .nav-newsletter {
            padding: 0 0 0 14px;
        }
    }}
    div {

        display: flex;
        font-size: 1em;
        align-items: center;
        align-content: center;

        a {
            padding: 0px 14px;
            color: var(--black-font-color);
            
        }
        a:hover {
                color: var(--selecd-nav-section);
            }
    }
}


.main {
    position: relative;

    .main-logo-game-wrapper {
        text-align: center;
        max-width: 100%;

        img {
            width: 698px;
            max-width: 100%;
            height: auto;
        }
    }

    .tape-wrapper {
        display: flex;

        .text-tape-wrapper {
            
        }
    }


    img {
        max-width: 100%;
        height: auto;
    }
}