@charset 'UTF-8';

:root {
    /*Paletas de Cores*/
    --black-font-color: hsl(0, 0%, 0%);
    --white-font-color: hsl(0, 0%, 100%);
    --top-header: hsl(240, 56%, 28%);
    --main-headder: hsl(0, 0%, 75%);
    --warning-color: hsl(7, 93%, 47%);
    --tape-color: hsl(52, 87%, 50%);
    --selected-textbox-color: hsl(62, 87%, 49%);
    --content-box-color: hsl(297, 47%, 7%); /*Opacity 65%*/
    --stroke-box-color: hsl(339, 10%, 28%); 
    
    /*Fontes*/
    --main-font: 'FE 5 Cent', sans-serif;
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 100%;
}

.background {
    background-image: url('/img/raw-background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 1141px;
    
    z-index: -1;
    overflow: hidden;
}